.row {
	min-height: 230px;
}
.data {
	width:98%;
	font-size:150%;
}
.big-list .btn {
	white-space: normal;
}

.previous-day {
	float:left;
	width:33%;
}
.curdate {
	width:33%;
	text-align:center;
	margin:0;
	padding:0;
	float:left;
}
.next-holder {
	float:left;
	width:30%;
	text-align:right;
}

#uncontacted-people {
	width:400px;
	margin-bottom: 10px;
}
#uncontacted-people .tab-content {
	height:100px;
	overflow: auto;
	margin: 0 0 5px 0;
	border: 1px solid #dddddd;
	border-top:0;
	border-radius: 0 0 5px 5px;
}
#uncontacted-people .tab-content ul {
	list-style: none;
	margin: 0 5px;
	padding: 0;
}