body {
	margin:0px;
	background:#fff;
	color:#000;
	font:76%/140% Verdana,Geneva,Arial,Helvetica,sans-serif;
}
a {
	text-decoration:none;
	color:blue;
}
.form-area label {
	width:100px;
	display:block;
	float:left;
	text-align:right;
	padding-right:5px;
}
.form-area input, .form-area select, .form-area textarea {
	float:left;
}
.form-area p.info {
	float:left;
}
br {
	clear:both;
}
img {
	border:0;
}

#loading {
	position:fixed;
	background-color:#f00;
	top:0;
	left:0;
	color:#fff;
	padding:2px 2px 2px 2px;
	display:none;
	z-index:9;
	opacity:.6;
	filter: alpha(opacity=60);
}

/* Table */
table {
	width:100%;
	border-collapse:collapse;
}
th {
	text-align:left;
}
table .odd {
	background-color:#eee;
}

/*Lists*/
ul.horizontal, ul.vertical {
	list-style:none;
	margin:0;
	padding:0;
}
ul.horizontal li {
	float:left;
	padding:0;
}

/*Messages*/
.message-area {
	position:absolute;
	top:20px;
	left:45%;
	color:#fff;
	padding:5px;
	border-radius:3px;
}
#warning-message {
	background-color:orange;
	font-weight:bold;
}
#error-message, .error-message {
	background-color:red;
	font-weight:bold;
}
#success-message, .success-message {
	background-color:darkgreen;
	font-weight:bold;
}
	
.warning {
	color:orange;
	font-weight:bold;
}
.error, .error-message {
	color:red;
	font-weight:bold;
}
.success, .success-message {
	color:darkgreen;
	font-weight:bold;
}

#warning-message,.warning, #success-message,.success,#error-message,.error {
	padding-left:20px;
	background-repeat:no-repeat;
	background-position:center left;
}



/*Icons*/
.icon,.page-next,.page-back,.page-first,.page-last,.page-previous {
	font-size:0px;
	padding:10px 8px;
	background-repeat:no-repeat;
	background-position:top left;
}
.list-with-icon li,.list-with-icon dt, .with-icon {
	padding:2px 0 2px 18px;
	background-repeat:no-repeat;
	background-position:top left;
}
.menu-with-icon li a {
	padding-left:12px;
	background-repeat:no-repeat;
	background-position:top left;
}
.no-icon {
	background-image:none !important;
}

.hidden {
	display:none;
}

/* Site Specific */

.delay-20 {
	color:#08F900;
	font-weight:bold;
}
.delay-40 {
	color:#91F900;
	font-weight:bold;
}
.delay-60 {
	color:#fea100;
	font-weight:bold;
}
.delay-80 {
	color:#F97100;
	font-weight:bold;
}
.delay-100 {
	color:#F90000;
	font-weight:bold;
}
.delayed {
	color:#7C0000;
	font-weight:bold;
}

.camouflage {
	border:2px solid white;
}
.stealth {
	display:none
}
.camouflage:hover, .camouflage:focus  {
	border:2px inset gray;
}
.camouflage-area:hover .stealth, .camouflage:focus+.stealth {
	display:inline;
}


.big {
	font-size:200%;
	font-weight:bold;
}

#nav {
	float:right;
}
#nav ul {
	list-style:none;
}
#nav li {
	display:inline;
	padding:0 30px;
}

.big-list-holders {
}

ul.big-list {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	height:95%;
	overflow: auto;
}
ul.big-list li {
	padding:2px;
	margin:2px;
	display:inline;
	float:left;
	background:#eee;
	border:1px solid #ddd;
}

ul.big-list li a {
	color:#777 !important;
}


#popup-area label, #popup-area input, #popup-area select, #popup-area textarea {
	margin-top:5px;
}

#popup-area-holder {
	position:absolute;
	top:50px;
	left:30%;
	width:40%;
	height:320px;
	border:1px solid black;
	border-radius: 12px; 
	background-color:#eee;
	display:none;
}
#popup-close{
	float:right;
	padding:0 3px 0 3px;
	margin:5px 10px 0 0;
	color:black;
	border:1px solid #000;
	background-color:#fff;
}



#people {
	width:98%;
	font-size:150%;
}
